<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Extracting Data</title>
</head>
<body>

-----Students----
<table>
    <thead>
    <tr>
        <th>Emplid</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>DOB</th>
        <th>Credits</th>
        <th>Gender</th>
        <th>Unpaid Tuition</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Starting Semester</th>
        <th>Expected Graduation</th>
        <th>Address</th>
        <th>Major</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td th:text="${s.emplid}">Text ...</td>
        <td th:text="${s.last_name}">Text ...</td>
        <td th:text="${s.first_name}">Text ...</td>
        <td th:text="${s.dob}">Text ...</td>
        <td th:text="${s.credits}">Text ...</td>
        <td th:text="${s.gender}">Text ...</td>
        <td th:text="${s.unpaid_tuition}">Text ...</td>
        <td th:text="${s.email}">Text ...</td>
        <td th:text="${s.phone}">Text ...</td>
        <td th:text="${s.starting_semester}">Text ...</td>
        <td th:text="${s.expected_graduation}">Text ...</td>
        <td th:text="${s.address}">Text ...</td>
        <td th:text="${s.major}">Text ...</td>
    </tr>
    </tbody>
</table>

------DEPARTMENT------

<table>
    <thead>
    <tr>
        <th>Deparment</th>
        <th>Chair</th>
        <th>Budget</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dept : ${departments}">
        <td th:text="${dept.department}">Text ...</td>
        <td th:text="${dept.department_chair}">Text ...</td>
        <td th:text="${dept.budget}">Text ...</td>
    </tr>
    </tbody>
</table>

-----COURSES-----
<table>
    <thead>
    <tr>
        <th>Class Number</th>
        <th>Dept</th>
        <th>Course Number</th>
        <th>Class Title</th>
        <th>Instructor Name</th>
        <th>Beginning Time</th>
        <th>End Time</th>
        <th>Room</th>
        <th>Num Credits</th>
        <th>Section</th>
        <th>Mode Of Instruction</th>
        <th>Capacity</th>
        <th>Semester</th>
        <th>Special Information</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${courses}">
        <td th:text="${c.class_number}">Text ...</td>
        <td th:text="${c.dept}">Text ...</td>
        <td th:text="${c.course_number}">Text ...</td>
        <td th:text="${c.class_title}">Text ...</td>
        <td th:text="${c.instructor_name}">Text ...</td>
        <td th:text="${c.beginning_time}">Text ...</td>
        <td th:text="${c.end_time}">Text ...</td>
        <td th:text="${c.room}">Text ...</td>
        <td th:text="${c.num_credits}">Text ...</td>
        <td th:text="${c.section}">Text ...</td>
        <td th:text="${c.mode_inst}">Text ...</td>
        <td th:text="${c.capacity}">Text ...</td>
        <td th:text="${c.semester}">Text ...</td>
        <td th:text="${c.si}">Text ...</td>
    </tr>
    </tbody>
</table>

-----REGISTERED CLASSES------
<table>
    <thead>
    <tr>
        <th>Emplid</th>
        <th>Grade</th>
        <th>Credits</th>
        <th>Department</th>
        <th>Class Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${classes}">
        <td th:text="${c.emplid}">Text ...</td>
        <td th:text="${c.grade}">Text ...</td>
        <td th:text="${c.credits}">Text ...</td>
        <td th:text="${c.department}">Text ...</td>
        <td th:text="${c.class_number}">Text ...</td>
    </tr>
    </tbody>
</table>

------INSTRUCTORS--------
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Instructor Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${instructors}">
        <td th:text="${i.title}">Text ...</td>
        <td th:text="${i.instructor_name}">Text ...</td>
        <td th:text="${i.gender}">Text ...</td>
        <td th:text="${i.department}">Text ...</td>
        <td th:text="${c.salary}">Text ...</td>
    </tr>
    </tbody>
</table>

----TUITION_PAYMENTS-----
<table>
    <thead>
    <tr>
        <th>Emplid</th>
        <th>Amount Paid</th>
        <th>Date Paid</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${tuition}">
        <td th:text="${t.emplid}">Text ...</td>
        <td th:text="${t.amount_paid}">Text ...</td>
        <td th:text="${t.date_paid}">Text ...</td>
    </tr>
    </tbody>
</table>


------FINANCIAL AID--------
<table>
    <thead>
    <tr>
        <th>Emplid</th>
        <th>Grant Money</th>
        <th>Grant Name</th>
        <th>Date Applied</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fin : ${finAids}">
        <td th:text="${fin.emplid}">Text ...</td>
        <td th:text="${fin.grant_money}">Text ...</td>
        <td th:text="${fin.grant_name}">Text ...</td>
        <td th:text="${fin.date_applied}">Text ...</td>
    </tr>
    </tbody>
</table>

</body>
</html>