<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script>
        function a(){
            var b = new XMLHttpRequest();
            var params2 = "department=" + document.getElementById("department_department").value
                + "&department_chair=" + document.getElementById("department_chair").value +
                    "&budget=" + document.getElementById("department_budget").value;
            console.log(params2)
            b.open("POST", "/rest/addDepartment", true);
            b.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            b.send(params2);
            b.onreadystatechange = function (ev) {
                alert(b.responseText);
            }
        }

            function send(address, parameters){
                var xml = new XMLHttpRequest();
                var a = "";
                parameters.forEach(function(element){
                    a += element + "&";
                })
                xml.open("POST", address, true);
                b.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    b.send(params2);
                    b.onreadystatechange = function (ev) {
                        alert(b.responseText);
                    }
            }  

    </script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<body>
<div class="tab">
    <button class="Student">Student</button>
    <button class="Course" onclick="open('Course')">Course</button>
    <button class="Registered Classes" onclick="open('Registered Classes')">Registered Classes</button>
    <button class="Instructor" onclick="open('Instructor')">Instructor</button>
    <button class="Department" onclick="open('Department')">Department</button>
    <button class="Tuition_Payments" onclick="open('Tuition Payments')">Tuition Payments</button>
    <button class="Financial Aid" onclick="open('Financial_Aid')">Financial Aid</button>
</div>

<div class="sf" style="display:none">
    <form name="StudentForm">
        EMPLID:
        <input type="number" name="emplid" min="00000000" max="99999999" minlength="8"><br>
        First Name:
        <input type="text" name="fn" maxlength="50"><br>
        Last Name:
        <input type="text" name="ln" maxlength="50"><br>
        DOB:
        <input type="date" name="dob"><br>
        Credits:
        <input type="number" name="credits" min="0" max="120"><br>
        <div>
            Gender:
            <input type="radio" id="Male" name="gender">
            <label for="Male">Male</label>
            <input type="radio" id="Female" name="gender">
            <label for="Female">Female</label>
        </div>
        Unpaid Tuition:
        <input type="number" name="ut" min="0"><br>
        Email:
        <input type="email" name="email" maxlength="50"><br>
        Phone:
        <input type="number" name="phone" maxlength="10"><br>
        Starting Semester:
        <input type="text" name="ss" maxlength="11"><br>
        Expected Graduation:
        <input type="date" name="eg"><br>
        Address:
        <input type="data" name="address" maxlength="50"><br>
        Major:
        <input type="data" name="major" maxlength="50"><br>
        <input type="button" value="Submit" onclick="process()">
    </form>
</div>

<script type="text/javascript">
    function process() {
        var fnVar = document.StudentForm.fn.value;

    }
</script>

<div class="cf" style="display:none">
    <form name="CourseForm">
        Class Number:
        <input type="number" name="classNumber" min="0" max="99999" minlength="5"><br>
        Department Name:
        <input type="text" name="dept" minlength="4" maxlength="4"><br>
        Course Number:
        <input type="number" name="courseNum" min="0000" max="9999" minlength="4"><br>
        Title:
        <input type="text" name="classTitle" maxlength="50"><br>
        Instructor Name:
        <input type="data" name="instructorName" maxlength="50"><br>
        Time:
        <input type="time" name="beginningTime">
        <input type="time" name="endTime"><br>
        Room:
        <input type="data" name="room" maxlength="10"><br>
        Credits:
        <input type="number" name="numCredits" max="5" min="1"><br>
        Section:
        <input type="data" name="section" maxlength="4"><br>
        Mode of Instruction:
        <input type="data" name="modeInst" maxlength="20"><br>
        Class Capacity:
        <input type="number" name="capacity" max="160" min="25"><br>
        Semester:
        <input type="data" name="semester" maxlength="11"><br>
        Special Information:
        <input type="data" name="si"><br>
        <input type="button" value="Submit" onclick="process">
    </form>
</div>

<div class="rc" style="display:none">
    <form name="RegisteredClasses">
        EMPLID:
        <input type="number" name="emplid" maxlength="8" min="11111111" max="99999999"><br>
        Grade:
        <input type="data" name="grade" maxlength="1">
        Credits:
        <input type="number" name="credits" maxlength="1" min="3" max="5"><br>
        Department:
        <input type="data" name="dept" maxlength="4" minlength="4"><br>
        Class Number:
        <input type="4" name="classNum" minlength="4" maxlength="4"><br>
    </form>
</div>

<div class="i" style="display:none">
    <form name="Instructor">
        Title:
        <input typ="data" name="title" maxlength="25"><br>
        Instructor Name:
        <input type="data" name="instName" maxlength="50"><br>
        <div>
            Gender:
            <input type="radio" id="Male1" name="gender">
            <label for="Male">Male</label>
            <input type="radio" id="Female1" name="gender">
            <label for="Female">Female</label>
        </div>
        Dept:
        <input type="data" minlength="4" maxlength="4" name="dept"><br>
        Salary
        <input data="number" minlength="5" maxlength="7" name="salary"><br>
    </form>
</div>

<div class="dept">
    <form name="department" method="post">
        Department:
        <input id="department_department" type="data" name="department" maxlength="4"><br>
        Department Chair:
        <input id="department_chair" type="data" name="department" maxlength="50"><br>
        Budget:
        <input id="department_budget" type="number" min="0"><br>
        <input type="button" value="submit" onclick="
            var arr = new Array(document.getElementById('department_department').value, document.getElementById('department_chair').value, document.getElementById('department_budget'));
            send("/rest/addDepartment", arr)
        ">
    </form>
</div>

<div class="tp" style="display:none">
    <form name="Tuition Payments">
        EMPLID:
        <input type="number" name="emplid" min="00000000" max="99999999" minlength="8"><br>
        Amount Paid:
        <input type="number" name="amountPaid" min="0"><br>
        Date Paid:
        <input type="date" name="datePaid"><br>
    </form>
</div>

<div class="fa" style="display:none">
    <form name="Financial Aid">
        EMPLID:
        <input type="number" name="emplid" min="00000000" max="99999999" minlength="8"><br>
        Grant Money:
        <input type="number" name="grantMoney" min="0"><br>
        Grant Name:
        <input type="data" name="grantName"><br>
        Date Applied:
        <input type="date" name="dateApplied"><br>
    </form>
</div>

<script>
    function open(name) {
        if (name === 'Student') {
            document.getElementById("StudentForm").style.display = "none";
        } else if (name === 'Course') {
            //document.getElementById("CourseForm").style.display="block";
            alert("Test");
        }
    }
</script>
</body>
</html>