<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Data Insertion</title>
    <script>
        function send(address, parameters) {
            var xml = new XMLHttpRequest();
            var a = "";
            parameters.forEach(function (element) {
                a += element + "&";
            });
            xml.open("POST", address, true);
            xml.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xml.send(a);
            xml.onreadystatechange = function (ev) {
                alert(xml.responseText);
            }
        }
    </script>
</head>
<style> body {
    font-family: Arial;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
<body>

<div class="tab">
    <Button class="InsertingData" onclick="location.href='home.html'"> Data Insertion</Button>
    <Button class="ExtractingData" onclick="location.href='extractingData.html'">Data Extraction</Button>
</div>
<br>
Created by Michael Levi & Jian Hui Mai
<br>
<br>
<b>Student Form:</b>
<form name="StudentForm">
    EMPLID:
    <input type="number" id="StudentForm_emplid" min="00000000" max="99999999" minlength="8"><br>
    Last Name:
    <input type="text" id="StudentForm_ln" maxlength="50"><br>
    First Name:
    <input type="text" id="StudentForm_fn" maxlength="50"><br>
    DOB:
    <input type="date" id="StudentForm_dob"><br>
    Credits:
    <input type="number" id="StudentForm_credits" min="0" max="200"><br>
    <div>
        Gender:
        <input type="radio" id="StudentForm_Male" name="gender" value="Male">
        <label for="StudentForm_Male">Male</label>
        <input type="radio" id="StudentForm_Female" name="gender" value="Female">
        <label for="StudentForm_Female">Female</label>
    </div>
    Unpaid Tuition:
    <input type="number" id="StudentForm_ut" min="0"><br>
    Email:
    <input type="email" id="StudentForm_email" maxlength="50"><br>
    Phone:
    <input type="number" id="StudentForm_phone" maxlength="10"><br>
    Starting Semester:
    <input type="text" id="StudentForm_ss" maxlength="11"><br>
    Expected Graduation:
    <input type="date" id="StudentForm_eg"><br>
    Address:
    <input type="data" id="StudentForm_address" maxlength="50"><br>
    Major:
    <input type="data" id="StudentForm_major" maxlength="50"><br>
    <input type="button" value="Submit" onclick="

    var selectedGender;
        if(document.getElementById('StudentForm_Male').checked){
            selectedGender=document.getElementById('StudentForm_Male').value;
        }
        else selectedGender=document.getElementById('StudentForm_Female').value;
    if(checkStudentForm()===true){
     let arr = ['emplid=' + document.getElementById('StudentForm_emplid').value,
     'last_name=' + document.getElementById('StudentForm_ln').value,
     'first_name=' + document.getElementById('StudentForm_fn').value,
     'dob=' + document.getElementById('StudentForm_dob').value,
     'credits=' + document.getElementById('StudentForm_credits').value,
     'gender=' + selectedGender,
     'unpaid_tuition=' + document.getElementById('StudentForm_ut').value,
     'email=' + document.getElementById('StudentForm_email').value,
     'phone=' + document.getElementById('StudentForm_phone').value,
     'starting_semester=' + document.getElementById('StudentForm_ss').value,
     'expected_graduation=' + document.getElementById('StudentForm_eg').value,
     'address=' + document.getElementById('StudentForm_address').value,
     'major=' + document.getElementById('StudentForm_major').value];
     send('/rest/addStudent',arr);}">
</form>

<script>
    function checkStudentForm(){
        var emplid= document.getElementById('StudentForm_emplid').value;
        var dob=document.getElementById('StudentForm_dob').value;
        var credits=document.getElementById('StudentForm_credits').value;
        var ut= document.getElementById('StudentForm_ut').value;
        var ss=document.getElementById('StudentForm_ss').value;
        var eg=document.getElementById('StudentForm_eg').value;

        let temp=true;

        if (emplid.toString().length === 0) {
            alert("Enter an EMPLID");
            temp=false;
        } else if (emplid.toString().length != 8) {
            alert("Invalid EMPLID");
            temp=false;
        }

        var today = new Date();
        var year = dob.toString().substring(0, 4);
        var month = dob.toString().substring(5, 7);
        var day = dob.toString().substring(8, 10);
        if (year > today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month > today.getMonth() && year==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month < today.getMonth() && day > today.getDay() && year==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        }

        if(credits>200 || credits <0){
            alert("Credits must be between 200 and 0");
            temp=false;
        }
        if(ut<0) {
            alert("Unpaid Tuition can not be less than 0");
            temp = false;
        }
        if(ss.toString().length===9){
            var tempString=ss.toString().substr(0,3);
            for(let i =0; i<3; i++){
                if(tempString.charAt(i)!=ss.toString().charAt(i)){
                    alert("Starting Semester must be Fall or Spring followed by space then the year");
                    temp=false;
                }
            }
        }
        else {
            var temps1=ss.toString().substr(0,5);
            for(let i=0; i<5; i++){
                if(temps1.charAt(i)!=ss.toString().charAt(i)){}
                alert("Starting Semester must be Fall or Spring followed by space then the year");
                temp=false;
            }
        }

        var year1 = eg.toString().substring(0, 4);
        var month1 = eg.toString().substring(5, 7);
        var day1 = eg.toString().substring(8, 10);
        if (year1 > today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month1 > today.getMonth() && year==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month1 < today.getMonth() && day1 > today.getDay() && year1==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        }
        return temp;
    }
</script>

<br>
<b>Course Form:</b>
<form name="CourseForm">
    Class Number:
    <input type="number" id="CourseForm_classNumber" min="0" max="99999" minlength="5"><br>
    Department Name:
    <input type="text" id="CourseForm_dept" minlength="4" maxlength="4"><br>
    Course Number:
    <input type="number" id="CourseForm_courseNum" min="0000" max="9999" minlength="4"><br>
    Title:
    <input type="text" id="CourseForm_classTitle" maxlength="50"><br>
    Instructor Name:
    <input type="data" id="CourseForm_instructorName" maxlength="50"><br>
    Time:
    <input type="time" id="CourseForm_beginningTime">
    <input type="time" id="CourseForm_endTime"><br>
    Room:
    <input type="data" id="CourseForm_room" maxlength="10"><br>
    Credits:
    <input type="number" id="CourseForm_numCredits" max="5" min="1"><br>
    Section:
    <input type="data" id="CourseForm_section" maxlength="4"><br>
    Mode of Instruction:
    <input type="data" id="CourseForm_modeInst" maxlength="20"><br>
    Class Capacity:
    <input type="number" id="CourseForm_capacity" max="160" min="25"><br>
    Semester:
    <input type="data" id="CourseForm_semester" maxlength="11"><br>
    Special Information:
    <input type="data" id="CourseForm_si"><br>
    <input type="button" value="Submit" onclick="
        if(checkCourseForm()===true){
        let arr=['class_number=' + document.getElementById('CourseForm_classNumber').value,
        'dept='+ document.getElementById('CourseForm_dept').value,
        'course_number=' + document.getElementById('CourseForm_courseNum').value,
        'class_title=' + document.getElementById('CourseForm_classTitle').value,
        'instructor_name=' + document.getElementById('CourseForm_instructorName').value,
        'beginning_time=' + document.getElementById('CourseForm_beginningTime').value,
        'end_time=' + document.getElementById('CourseForm_endTime').value,
        'room=' + document.getElementById('CourseForm_room').value,
        'num_credits=' + document.getElementById('CourseForm_numCredits').value,
        'section=' + document.getElementById('CourseForm_section').value,
        'mode_inst='+ document.getElementById('CourseForm_modeInst').value,
        'capacity=' + document.getElementById('CourseForm_capacity').value,
        'semester=' + document.getElementById('CourseForm_semester').value,
        'si=' + document.getElementById('CourseForm_si').value];
        send('/rest/addCourse', arr);}">
</form>

<script>
    function checkCourseForm(){
        var classNum= document.getElementById('CourseForm_classNumber').value;
        var courseNum=document.getElementById('CourseForm_courseNum').value;
        var credits= document.getElementById('CourseForm_numCredits').value;

        let temp=true;

        if(classNum.toString().length!=5){
            alert("Class number must be 5 digits");
            temp=false;
        }
        if(courseNum.toString().length!=4){
            alert("Course number must be 4 digits");
            temp=false;
        }
        if(credits>5 || credits<1){
            alert("Credits must be between 1 and 5");
            temp=false;
        }
        return temp;
    }
</script>

<br>
<b>Registered Classes:</b>
<form name="RegisteredClasses">
    EMPLID:
    <input type="number" id="RegisteredClasses_emplid" maxlength="8" min="11111111" max="99999999"><br>
    Grade:
    <input type="data" id="RegisteredClasses_grade" maxlength="2"><br>
    Credits:
    <input type="number" id="RegisteredClasses_credits" maxlength="1" min="3" max="5"><br>
    Department:
    <input type="data" id="RegisteredClasses_dept" maxlength="4" minlength="4"><br>
    Class Number:
    <input type="4" id="RegisteredClasses_classNum" minlength="5" maxlength="5"><br>
    <input type="button" value="Submit" onclick="
    if(checkRCForm()===true){
    let arr=['emplid=' + document.getElementById('RegisteredClasses_emplid').value,
    'grade=' + document.getElementById('RegisteredClasses_grade').value,
    'credits=' + document.getElementById('RegisteredClasses_credits').value,
    'department=' + document.getElementById('RegisteredClasses_dept').value,
    'class_number=' + document.getElementById('RegisteredClasses_classNum').value];
    send('/rest/addRegisteredClass', arr);}"><br>
</form>

<script>
    function checkRCForm(){
        let emplid= document.getElementById('RegisteredClasses_emplid').value;
        let grade= document.getElementById('RegisteredClasses_grade').value;
        let credits= document.getElementById('RegisteredClasses_credits').value;
        let dept=document.getElementById('RegisteredClasses_dept').value;
        let classNum=document.getElementById('RegisteredClasses_classNum').value;

        let temp=true;

        if (emplid.toString().length === 0) {
            alert("Enter an EMPLID");
            temp=false;
        } else if (emplid.toString().length != 8) {
            alert("Invalid EMPLID");
            temp=false;
        }
        let letter= grade.toString().charAt(0);
        if(letter!='A' || letter!='B' || letter!='C' || letter!='D' || letter!='F'){
            alert("Invalid Grade");
            temp=false;
        }
        if(credits >1 || credits <5){
            alert("Invalid Credits");
            temp=false;
        }
        if(dept.toString().length!=4){
            alert('Department name must be four letters');
            temp=false;
        }
        if(classNum.toString().length!=5){
            alert('Class number must be 5 digits');
            temp=false;
        }
        return temp;
    }
</script>

<br>
<b>Instructor:</b>
<form name="Instructor">
    Title:
    <input type="data" id="instructor_title" maxlength="25"><br>
    Instructor Name:
    <input type="data" id="instructor_name" maxlength="50"><br>
    <div>
        Gender:
        <input type="radio" id="instructor_male" name="gender" value="Male">
        <label for="instructor_male">Male</label>
        <input type="radio" id="instructor_female" name="gender" value="Female">
        <label for="instructor_female">Female</label>
    </div>
    Department:
    <input type="data" minlength="4" maxlength="4" id="instructor_dept"><br>
    Salary
    <input data="number" minlength="5" maxlength="7" id="instructor_salary"><br>
    <input type="button" value="Submit" onclick="
        var selectedGender;
        if(document.getElementById('instructor_male').checked){
            selectedGender=document.getElementById('instructor_male').value;
        }
        else selectedGender=document.getElementById('instructor_female').value;

        if(checkInstForm()===true){
        let arr=['title=' + document.getElementById('instructor_title').value,
        'instructor_name=' + document.getElementById('instructor_name').value,
        'gender=' + selectedGender,
        'department=' + document.getElementById('instructor_dept').value,
        'salary=' + document.getElementById('instructor_salary').value];
        send('/rest/addInstructor',arr);
        }">
    <br>
</form>

<script>
    function checkInstForm(){
        let title= document.getElementById('instructor_title').value;
        let name= document.getElementById('instructor_name').value;
        let dept=document.getElementById('instructor_dept').value;
        let salary= document.getElementById('instructor_salary').value;

        var temp=true;

        if(title.toString().length>25){
            alert("Title is too long");
            temp=false;
        }
        if(name.toString().length>50){
            alert("Name is too long");
            temp=false;
        }
        if(dept.toString().length>4){
            alert("Department name is not the right size");
            temp=false;
        }
        if(salary.toString().length<5 || salary.toString().length>7){
            alert("Salary are not between 1,000 and 9,999,999");
            temp=false;
        }
        return temp;
    }
</script>

<br>
<b>Department:</b>
<form name="department" method="post">
    Department:
    <input id="department_department" type="data" maxlength="4" minlength="4"><br>
    Department Chair:
    <input id="department_chair" type="data" maxlength="50"><br>
    Budget:
    <input id="department_budget" type="number" min="0"><br>
    <input type="button" value="Submit" onclick="
    if(checkDeptForm()===true){
            let arr = ['department=' + document.getElementById('department_department').value,
            'department_chair=' + document.getElementById('department_chair').value,
            'budget=' + document.getElementById('department_budget').value];
            send('/rest/addDepartment', arr);
    }">
</form>

<script>
    function checkDeptForm(){
        let dept= document.getElementById('department_department').value;
        let chair= document.getElementById('department_chair').value;
        let budget= document.getElementById('department_budget').value;

        let temp=true;

        if(dept.toString().length!=4){
            alert("Invalid Department Name");
            temp=false;
        }
        if(chair.toString().length>50){
            alert("Name exceeds allowed characters");
            temp=false;
        }
        if(budget<0){
            alert("Money can not be negative");
            temp=false;
        }
        return temp;
    }

</script>

<br>
<b>Tuition Payments:</b>
<form name="Tuition Payments">
    EMPLID:
    <input type="number" id="TuitionPayments_emplid" min="00000000" max="99999999" minlength="8"><br>
    Amount Paid:
    <input type="number" id="TuitionPayment_amountPaid" min="0"><br>
    Date Paid:
    <input type="date" id="TuitionPayment_datePaid"><br>
    <input type="button" value="Submit" onclick="
    checkTPForm();
    if(checkTPForm()===true){
    let arr=['emplid=' + document.getElementById('TuitionPayments_emplid').value,
    'amount_paid=' + document.getElementById('TuitionPayment_amountPaid').value,
    'date_paid=' + document.getElementById('TuitionPayment_datePaid').value];
    send('/rest/addTuitionPayment', arr);
    }">
</form>

<script>
    function checkTPForm() {
        var emplid = document.getElementById('TuitionPayments_emplid').value;
        var grantMoney= document.getElementById('TuitionPayment_amountPaid').value;
        var dateApplied = document.getElementById('TuitionPayment_datePaid').value;

        let temp=true;

        if (emplid.toString().length === 0) {
            alert("Enter an EMPLID");
            temp=false;
        } else if (emplid.toString().length != 8) {
            alert("Invalid EMPLID");
            temp=false;
        }
        if (grantMoney < 0) {
            alert("Money can not be negative");
            temp=false;
        }
        var today = new Date();
        var year = dateApplied.toString().substring(0, 4);
        var month = dateApplied.toString().substring(5, 7);
        var day = dateApplied.toString().substring(8, 10);
        if (year > today.getFullYear()) {
            alert("Date can not be in the future");
            temp= false;
        } else if (month > today.getMonth()) {
            alert("Date can not be in the future");
            temp= false;
        } else if (month < today.getMonth() && day > today.getDay()) {
            alert("Date can not be in the future");
            temp= false;
        }
        return temp;
    }
</script>

<br>
<b>Financial Aid:</b>
<form name="Financial Aid">
    EMPLID:
    <input type="number" id="FinancialAid_emplid" min="00000000" max="99999999" minlength="8"><br>
    Grant Money:
    <input type="number" id="FinancialAid_grantMoney" min="0"><br>
    Grant Name:
    <input type="data" id="FinancialAid_grantName"><br>
    Date Applied:
    <input type="date" id="FinancialAid_dateApplied"><br>
    <input type="button" value="Submit" onclick="
    checkFinAidForm();
    if(checkFinAidForm()===true){
    let arr=['empid=' + document.getElementById('FinancialAid_emplid').value,
    'grant_money=' + document.getElementById('FinancialAid_grantMoney').value,
    'grant_name=' + document.getElementById('FinancialAid_grantName').value,
    'date_applied=' + document.getElementById('FinancialAid_dateApplied').value];
    send('/rest/addFinancialAid',arr);
    }"><br>
</form>

<script>
    function checkFinAidForm() {
        var emplid = document.getElementById('FinancialAid_emplid').value;
        var grantMoney = document.getElementById('FinancialAid_grantMoney').value;
        var dateApplied = document.getElementById('FinancialAid_dateApplied').value;

        let temp=true;

        if(emplid.toString().length===0) {
            alert("Enter an EMPLID");
            temp=false;
        }
        else if (emplid.toString().length != 8){
            alert("Invalid EMPLID");
            temp=false;
        }
        if (grantMoney < 0) {
            alert("Money can not be negative");
            temp=false;
        }
        var today = new Date();
        var year = dateApplied.toString().substring(0, 4);
        var month = dateApplied.toString().substring(5, 7);
        var day = dateApplied.toString().substring(8, 10);
        if (year > today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month > today.getMonth() && year==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        } else if (month < today.getMonth() && day > today.getDay() && year==today.getFullYear()) {
            alert("Date can not be in the future");
            temp=false;
        }
        return temp;
    }
</script>

</body>
</html>